/*========== REFERENCES ==========*/

.references__content{
    gap: .25rem;

    .references__subtitle{
        color: $text-color-light;
    }
    .references__subtitle,
    .references__contact{
        font-size: $smaller-font-size;
        color: $text-color;
    }
    .references__title{
        font-size: $h3-font-size;
    }
}